id ICON "./amonguz.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "lilweege"
      VALUE "FileDescription", "Amonguz game client"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "amonguz_client"
      VALUE "LegalCopyright", "Luigi Quattrociocchi"
      VALUE "OriginalFilename", "amonguz_client.exe"
      VALUE "ProductName", "Amonguz Client"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END